.container {
    width: min(100% - 3rem, var(--container-max, 80ch));
    margin-inline: auto;
}
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}
footer {
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
}
a, h1 {
    font-weight: 800;
}
h2 {
    font-weight: 800;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
}
a {
    color: black;
}
.darkmode a {
    color: #ffffff;
}
img {
    max-width: 100%;
    aspect-ratio: 1;
}
nav {
    font-family: "Rubik", sans-serif;
    font-weight: 800;
}
.horizontal_nav {
    padding: 0;
    padding-top: 0.8rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: #f5f5f5;
    margin-top: 0;
    flex-wrap: wrap;
}
.vertical_nav {
    padding: 0;
    list-style: none;
}
.footer {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    color: #808080;
    flex-wrap: wrap;
}
.experiences {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
    padding-top: 5rem;
}
.circle_img {
    max-width: 125px;
    max-height: 125px;
}
.references {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
}

.degree_img {
    max-width: 400px;
    padding-top: 2.5rem;
}
.speech {
    font-weight: 500;
    font-style: italic;
}
.selected {
    background-color: #dcdcdc;
    border: 6px solid #dcdcdc;
}
.darkmode {
    background-color: #191919;
    color: #ffffff ;
}
.darkmode .footer {
    color: #757575;
}
